In [1]:
print("Hello World")

Hello World

Welcome to the first solution set for ESC180. This will go through all the exercises. Although this might seem like a convenient study guide, the author of this solution set does agree with what Prof. Masai said about learning to do things on your own. Please solve all the problems before reading this. This should be more of a corroboration of your answers.

In [6]:
value=input("Enter a number:")

Enter a number:5

As you can see, the terminal prints whatever you gave it as an argument and then prompts you for an input. As you can see, though, you don't have to follow what the print statement says- you can input whatever you want.

In [11]:
value

'5'

Whatever you told the prompt after "Enter a number:" is reprinted again. That's because whatever you told the prompt is stored in the value variable.

In [12]:
print("You entered" + value)

You entered5

Unfortunately, the 5 is printed after "You entered" without a space. We can fix that by putting a space after "You entered " like so. Go back and change it to see if it works. 

The + operator does a 'concatenation' of the two arguments you give it. For example, the concatenation of 'a' + 'b' would be 'ab'.

In [13]:
print("Here" + "are" + "some" + "words")

Herearesomewords

Unfortunately, we have the same problem as last time. We need to add the appropriate spaces. This might be done like print("Here " + "are " + "some " + "words ").

In [14]:
new_value = 1000

In [15]:
new_value

1000

In [16]:
print(new_value)

1000

In [17]:
print("new_value has the value " + new_value)

TypeError: must be str, not int

We got an error message. Although we might have expected "new_value has the value 1000", we got an error. Reading the error message, we see that it is tells us there is a "TypeError", with a further elaboration saying "must be str, not int". How mysterious.

In [19]:
type(new_value)

int

In [20]:
type("new_value has the value ")

str

As it turns out, new_value is of type int, not str like "new_value has the value ". The actual problem set provides a satisfactory explanation.

In [21]:
print("new_value has the value " + str(new_value))

new_value has the value 1000

Now we got the result we were looking for. What we had to do was convert new_value, which was of type int, to type str, a string. This is because the '+' operator only concatenates variables of type str. When it gets something else, it throws a TypeError, like we saw above.

In [22]:
type(str(new_value))

str

In [23]:
type(value)

str

In [24]:
value + 1000

TypeError: must be str, not int

We get the same problem as in the exercise above. Like we said, the input function takes whatever you put in, in the form of a string. Therefore, the 'value' variable was assigned a value of type str. When you try and add it to another variable of type string, we get the same error as before. Note that the '+' operator seems to do multiple things. Interesting.

Question 17 asks us to do two things, shown below:

In [25]:
int(value) + 1000

1005

To add value and 1000 like numbers, we must convert the str value into an int.

In [26]:
value + str(1000)

'51000'

To concatenate value and 1000 like strings, we must convert the int 1000 to a str type.

At this point, we pause to answer:

Q: How do you output data to the world?

A: We can do this using the print() function. 

Q: How do you get data from the world?

A: We can do this using the input() function.

Q: Name two types of data in python?

A: The two we have encountered thus far are strings and integers, str and int, respectively. 

Q: How do you determine the data type of something in python?

A: We input the something into the type() function, which returns the type.

Q: How can you convert between the two types of data you've encountered?

A: To convert from a string to an integer, we use str(). To convert the other way, we use int().

Q: What does "+" do when the operands are int?

A: It adds them, like you do in math class.

Q: What does "+" do when the operands are str?

A: It concatenates them, sticking them end to end.

In [27]:
a = 100

In [28]:
if a < 10:
    print("LT 10")
else:
    print("GT 10")

GT 10

We see GT 10. This makes sense, because a is not less than 10, so we skip the first if statement and go to the else. This prints "GT 10".

In [30]:
if a < 10:
    print("LT 10")
elif a < 200:
    print("LT 200")
else:
    print("GE 200")

LT 200

We see LT 200. An if statement block such as this one works by going through each if, one at a time. However, there is a distinction between an if and an elif, which is short for 'else if' which also works as a python command. An elif statement is special because if the if statement above evaluates to true, the elif statement will not be evaluated and the script will continue. If you just have multiple if statements, each will be evaluated when the one above finishes. This might be important for efficiency, or if you don't want multiple blocks of code to trigger.

In [31]:
a = 1000

In [32]:
if a < 10:
    print("LT 10")
elif a < 200:
    print("LT 200")
else:
    print("GE 200")

GE 200

We see GE 200.

In [34]:
n = 1
while n < 10:
    print(n)
    n=n+1

1
2
3
4
5
6
7
8
9

It prints the numbers 1-9, each on separate lines.

In this exercise, we learn about looping and iteration. This is "the notion of repeated computation". Now we try to code the factorial algorithm with this new construct.

In [37]:
i = 1
desiredfactorial = 3
result = 1
while(i<=desiredfactorial):
    result = result * i
    i = i + 1
print(result)

6

In [38]:
square

NameError: name 'square' is not defined

In [39]:
square(100)

NameError: name 'square' is not defined

In [3]:
def square(x):
    return(x*x)

In [4]:
square

In [5]:
type(square)

function

In [6]:
square(100)

10000

We get 100 squared, 10000.

In [7]:
n=1
while n < 10:
    print(square(n))
    n = n+1

1
4
9
16
25
36
49
64
81

In [10]:
def factorial(x):
    i = 1
    result = 1
    while(i <= x):
        result = result * i
        i = i + 1
    return(result)

In [11]:
factorial(7)

5040

It works!